* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  background-image: url("../assets/huge.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.main-title {
  text-transform: uppercase;
  font-size: 4vw;
}

.content {
  position: relative;
  min-height: 100%;
  color: white;
}

.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.half-width {
  width: 50%;
}

.center-content {
  text-align: center;
}

@media screen and (max-width: 1080px) {
  html {
    background-image: url("../assets/big.jpg");
  }
}

/* @media screen and (max-width: 850px) {
  .main-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .main-title {
    font-size: 5px;
  }
} */

@media only screen and (max-width: 700px) {
  html {
    background-image: url("../assets/normal.jpg");
  }
}
